@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  background-color: linear-gradient(
      293.98deg,
      #ffffff 14.94%,
      rgba(255, 255, 255, 0) 81.81%
    ),
    #eeeeee;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
